@page
@using System.Data
@model Pharmacy_back.Pages.allproductsModel
@{
}



<body>
<div class="cart">
    <div class="top-cart">
        <h3>My Cart <span class="cart-total-count">(0 Items in Cart)</span></h3>
        <span class="close-cart">
            <i class="fa-regular fa-circle-xmark"></i>
        </span>
    </div>

    <div class="cart-items"></div>

    <div class="bottom-cart">
        <div class="cart-total">
            <p>Cart Total</p>
            <p class="cart-total-price">$0</p>
        </div>

        <div class="cart-buttons">
            <a href="/checkout.html" class="btn-cart">Proceed To Checkout</a>
            <button class="btn-cart trans-bg shop-more-btn">Shop More</button>
        </div>
    </div>
</div>

<!-- End Cart -->
<!-- Start All Products Content -->

<div class="top-page">
    <div class="container">
        <h1>Experiance of Future  With Sydality</h1>

    </div>
</div>

<div class="all-products">
    <div class="container">

        <div class="filter-btn">
            Filter <i class="fa-solid fa-filter"></i>
        </div>
           
            
        <div class="filter">
            <h2>Filter</h2>
            <form method="post">
            <div class="filter-items">
                <h4> Medicine Categories</h4>
                <div class="content">
                    
                            @foreach (var category in Model.MCategories)
                            {
                                <div class="filter-item">
                                    <span>@category</span>
                                    <input type="checkbox" name="SelectedMCategories" value="@category"
                                    @(Model.SelectedMCategories.Contains(category) ? "checked" : "") />
                                </div>
                            }
                            
                        
                           
                </div>
                
               
            </div>

            <div class="filter-items">
                <h4>Cosmetics</h4>
                <div class="content">
                       
                            @foreach (var category in Model.CCategories)
                            {
                                <div class="filter-item">
                                    <span>@category</span>
                                    <input type="checkbox" name="SelectedCCategories" value="@category"
                                    @(Model.SelectedCCategories.Contains(category) ? "checked" : "") />
                                </div>
                            }
                           
                   
                </div>

                </div>

            @* <div class="filter-items">
                <h4>Form</h4>
                
                <div class="content">
                    <div class="filter-item">
                        <span>Tablets</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Capsules</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Ointments</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Liquids</span>
                        <input type="checkbox" />
                    </div>

                    <div class="filter-item">
                        <span>Patches</span>
                        <input type="checkbox" />
                    </div>
                </div>
            </div> *@
                
            <div class="filter-items">
                <h4>Price Range</h4>
                <div class="content">
                    <input type="range" min="1" max="100" step="1" />@*to be done later*@
                    <p>Price: $<span id="price-range">50</span></p>
                </div>
            </div>
                    <div class="filter-item">
                        <button class="btn-change" type="submit">Apply Filter</button>
                    </div>
                </form>
                    
            </div>

            <div class="product">
                <h2 class="product-title">Medicine</h2>
                <div class="card-container">
                    @foreach (DataRow row in @Model.products.Rows)
                    {
                        <div class="card">
                            <h3>@row["name"]</h3>
                            <p class="price">$@row["price"]</p>
                            <button style="padding: 10px 15px; background-color: #28a745; color: white; border: none; border-radius: 4px; cursor: pointer;">
                                Add to Cart
                            </button>
                        </div>
                    }
                </div>
                <h2 class="product-title">Cosmetics</h2>
                <div class="card-container">

                    @foreach (DataRow row in @Model.products2.Rows)
                    {
                        <div class="card">
                            <h3>@row["name"]</h3>
                            <p class="price">$@row["price"]</p>
                            <button style="padding: 10px 15px; background-color: #28a745; color: white; border: none; border-radius: 4px; cursor: pointer;">
                                Add to Cart
                            </button>
                        </div>
                    }

                </div>
                <form method="post" asp-page-handler="ShowMore">
                    <button type="submit" class="btn-cart" name="n" value="Next">Next></button>
                    <button type="submit" class="btn-cart" name="n" value="Previous"> previous< </button>
                </form>
            </div>
            
        </div>

       
       
    </div>


<div class="pagination">
    <span class="btn-change prev">
        <i class="fa-solid fa-arrow-left"></i>
    </span>
    <span class="page-num active">1</span>
    <span class="page-num">2</span>
    <span class="btn-change next">
        <i class="fa-solid fa-arrow-right"></i>
    </span>
</div>
    </div>

<!-- End All Products Content -->

    
      </body>